.Die {
  font-size: 25px;
  display: inline;
  padding: 0.5em 0.8em;
  font-family: monospace;
  font-weight: bold;
  background-color: darkred;
  color: white;
  margin-right: 1em;
  width: 57px;
  height: 57px;
}
